<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Loops de Repetição v-for Vue JS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .active{background: green;}
    </style>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="x in 10">{{ x }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="product in products">{{ product }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="task in tasks">
                {{ task.id }} - {{ task.name }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(task, index) in tasks" :class="{active: task.isActive}">
                {{ index }} - {{ task.id }} - {{ task.name }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                products: [
                    'Tv', 'Geladeira', 'Microondas', 'Rádio'
                ],
                tasks: [
                    {id:1, name: 'Lavar Louça', isActive: false},
                    {id:2, name: 'Lavar Carro', isActive: true},
                    {id:3, name: 'Lavar Moto', isActive: false},
                    {id:4, name: 'Lavar Banheiro', isActive: false}
                ]
            }
        })
    </script>
</body>
</html>